@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(0rem);
  }

  100% {
    opacity: 100%;
    transform: translateX(10rem);
  }
}
